.Carousel>div:last-of-type>div{
  margin: 0 auto;
  display: block;
  display: flex;
align-items: stretch;
}

.Carousel>button{
  background: none;
  border: none;
  position: relative;
  top:50%;
  font-size:20px;
  background-color: DodgerBlue;
width: 100px;
margin: 10px;

line-height: 75px;
}


.Carousel>button:last-of-type{
  float: left;

}

.Carousel>button:last-of-type:before{
  content: "◄ ";
}

.Carousel>button:first-of-type{
  float: right;

}

.Carousel>button:first-of-type:after{
  content: " ►"
}
